<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <body style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTSQQxMUbZi3amvCRM3_42h-_GfG_H27Lsdah449Vuicqvh1t2)">
	    {% block head %}
        <title>
        Hey Friends!
        </title> 
        {% endblock %}
    </head>

    <body>
    
    <div class="container">
        <div class="navbar" style="background-color:ghostwhite;">
        <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/friends/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/friends/register/">Register</a></li>
                    <li><a href="/friends/login/">Login</a></li>
                </ul>
            </ul>
        </div>
        </div>
        </div>
    </div>
    {% block body %}
    <div class = "container">
    <h1>Welcome here!</h1>
    <h4> It as an anonymous friends chat app. Here you can chat with your friends or family also and nobody can see you(even your friends or family mambers). So, It is a good chance to challange your friends to recognize you. This app will make yours understandings better.</br></br> If you are new here, you have to register else you have to login.</h4>
    </div>
    {% endblock %}
    </body>
</html>
