<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <body style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTSQQxMUbZi3amvCRM3_42h-_GfG_H27Lsdah449Vuicqvh1t2)">
	    
	    {% block head %}
        <title>
        Hey Friends!
        </title> 
        {% endblock %}
    </head>
    
    <body>
    
    <div class="container">
        <div class="navbar" style="background-color:red;">
            <ul class="nav navbar-nav">
                <li><a href="/friends/user/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">My Groups<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for gp in groups %}
                        <li><a href="{% url 'group' pk=gp.pk %}">{{gp.name}}</a></li>
                        {% endfor %}
<!--                        <li><a href="group_2/">Group 2</a></li>-->
<!--                        <li><a href="group_3/">Group 3</a></li>-->
                    </ul>
                </li>
                <li><a href="/friends/user/open_messages/">Open Messages</a></li>
                <li><a href="/friends/user/profile/">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/friends/user/create_group/" align="right"> +Create Group</a></li>
            </ul>
        </div>
    </div>
    {% block body %}
    <div class = "container">
    <h1>Yess Bosss!</h1>
    <h4> It as an anonymous friends chat app. Here you can chat with your friends or family also and nobody can see you(even your friends or family mambers). So, It is a good chance to challange your friends to recognize you. This app will make yours understandings better. </br> </br> You have logged in. Now you can post a message. </h4>
    </div>
    {% endblock %}
    </body>

</html>
